# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Model files
emotion_model.h5

# Environment
.env
.venv/
env/
venv/
ENV/

# OS files
.DS_Store
Thumbs.db

# Jupyter / VS Code
.ipynb_checkpoints/
.vscode/
